.header{
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}

.title{
  color: MediumAquamarine;
}

/*TRY TO MOVE TO RIGHT SIDE
.nav{
  justify-content: flex-end;
}
*/

.column .large{
  width:630px;
}

.column .medium{
  width:300px;
}

.column .small{
  width:240px;
}
