/*TOP*/
.header-container{
  display:flex;
  justify-content: space-between; /*NAV TO RIGHT*/
  align-items: center; /*NAV CENTER*/
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid black;
}

.logo{
  display: flex;
  color: MediumAquamarine;
}

.nav a{
  color:black;
}

/*ARTICLES*/
.border{
  border:1px solid black; /*Adds border*/
}

.articles {
  display: flex; /*makes content horizontal.*/
  justify-content: space-around;
}

/*Display text format with background images*/
.image-title {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
}

/*Display text format for articles*/
p{
  font-family: Georgia;
  font-size: 17px;
  color: black;
}
 /*Adding background images*/
.mother-tuna{
  font-size: 40px;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png");
  width:630px;
  height:300px;
  text-align: left;
}

.earth-spins{
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png");
  height: 300px;
}

.cameras-erase{
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png");
  height: 300px;
}

.cats{
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png");
  height: 300px;
}

/*Sizing article columns*/
.column.large {
  width: 630px;
}

.column.medium {
  width: 300px;
}

.column.small {
  width: 240px;
  flex-direction: column;
}

.square{
  display:inline-block;
  width:300px;
  height: 100%;
}

/*Right Side adjusting*/
.news-bites h3{
  font-size: 16px;
  font-weight: bold;
 }

 .news-bites li{
   display: block;
   background-color: WhiteSmoke;
   font-family: Verdana;
   font-size: 12px;
   color: DimGray;
   margin:0;
   padding: 11px 20px;
   border-bottom:1px solid black;

 }
