.header-container{
  display:flex;
  justify-content: space-between;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}

.logo{
  display: flex;
  color: MediumAquamarine;

.border{
  border: 1px solid black;
}

.nav a{
  color:black;
}
